# Ignore the files for git

# All the python compiled
*.pyc
.project
.pydevproject

# Bkp
*~
*i686
dist
deb_dist

#Sphinx pickled
docs/_build/doctrees
# Latex source for the manual
docs/_build/pdf

#eclipse coding
.settings
