# Ignore the files for git

# All the python compiled
*.pyc
.project
.pydevproject
*.egg-info

# Bkp
*~
*i686
*x86_64
dist
deb_dist

#Sphinx pickled
docs/_build/doctrees
# Latex source for the manual
docs/_build/pdf

#eclipse coding
.settings
