include *.txt
include *.rst
include setup.py
include setup.cfg
include pavement.py
include paver-minilib.zip
include bootstrap.py
include requirements.txt

include neuronvisio/modeldb/ModelDB.xml
recursive-include neuronvisio/ui *
recursive-include examples *
recursive-include docs *
prune docs/_build
